<%- include htmlHeader %>
	
 	<!-- 头部开始 -->
	<%- include header %>
	<!-- 大赛介绍 -->
	<div class="recomment_log" id="content">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center">
				<div class="jieshao" id="introduce">活动日程</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
	
<div>
	<div class="English_log">schedule</div>
	<div class="main4_center" >
		<div class="main4_center_center">
			<div class="date_left">
				<div class="date_left_content" >
					<div><img src="images/icon_info7.png" alt=""></div>
					<div>Schedule</div>
				</div>
			</div>
			<div class="date_right">
				<ul class="duzi">
					<li>活动日程-</li>
					<li>5月23日</li>
					<li>1. 09:30~10:00： 签到入场 </li>
					<li>2. 10:00~10:30： 开场 </li>
					<li>3. 10:30~12:30： 主题宣讲、自由</li>
					<li>4. 12:30~13:00： 午餐时间</li>
					<li>5. 13:00~17:30： 产品开发</li>
					<li>6. 17:30~18:00： 晚餐时间</li>
					<li>7. 18:00~23:00： 产品开发</li>
					<li>8. 23:00~24:00： 夜宵:啤酒、饮料、点心等</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main4_center">
		<div class="main5_center_center">
			<div class="date_right away ">
				<ul> 
					<li>5月24日</li>
					<li>1. 00:00~08:00： 产品开发</li>
					<li>2. 08:00~09:00： 早餐时间</li>
					<li>3. 09:00~12:30： 产品开发、产品提交</li>
					<li>4. 09:00： 开启产品提交窗口, 12:30截止</li>
					<li>5. 12:00~13:00： 午餐时间，主委会评审产品</li>
					<li>6. 13:00~14:30： 产品展示</li>
					<li>7. 14:30~15:00： 主委会、合作伙伴颁奖</li>
					<!-- <li>8. 23:00~24:00： 夜宵:啤酒、饮料、点心等</li> -->
				</ul>
			</div>
			<div class="date_left">
				<div class="date_left_content color" >
					<div><img src="images/4Hackathon_活动日程_07.png" alt=""></div>
					<div>Schedule</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="recomment_log">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center_2">
				<div class="jieshao">关于</div>
				<div class="about_us">about&nbsp;us</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
	<%- include footer %>