<div class="foot">
		<div class="foot_center">
			<div class="unitJs"><div class="unitName" id="aboutit">Hello World</div></div>
			<div class="unitJs">
				Hello World(简称HW），计算机学院的技术服务类社团，所谓的技术就是指计算机语言编程，网站及微信平台开发等
				,而服务就是指HW的运作对象是校内社团和校外组织，例如为校外公司量身定做软件，管理和维护微信订阅号等。在这
				在这里，你可以接触到已从杭电毕业而工作在HW的计算机大神，提早认知毕业后的就业方向和形势，并且提高自身技术
				素养。而且还有计算机学院的老师亲自传授计算机技术了、哦！
			</div>
			<div class="unitJs">
				HelloWorld是一个以电脑语言编程技术为主题的社团，挂靠在计算机学院下。社团以承接校内外活动，项目的形式运作，例如建立杭电师生互助平台，与下沙电信公司合作推广微信号等。社团目前有79人，包含了技术部，运营部，行政部，运营部，产品部等五个部门，有严格的规章制度。各部门任务分工明确，围绕这技术部和运营部展开工作。最近还准备新生见面会和社团秋游等活动。社团老师每周都会组织技术培训讲座，提高社团成员计算机技术的综合知识。HelloWorld正在壮大，还在不断的吸收新成员，如果你对电脑语言编程，软件开发，微信平台开发及运营感兴趣，那么这里绝对是你的不二之选!
			</div>
			<div class="bottom">
				<img src="images/icon_social1.png"/>
				<img src="images/icon_social2.png"/>
				<img src="images/icon_social3.png"/>
			</div>
		</div>
	</div>
	<div class="foot_bottom">
		© 杭州电子科技大学计算机学院HelloWorld社团 come and join us
	</div> 
</body>
</html>