<%- include htmlHeader %>

 	<!-- 头部开始 -->
<%- include header %>
	<!-- 大赛介绍 -->
	<div class="recomment_log" id="content">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center">
				<div class="jieshao" id="introduce">常见问题</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
	<div>
		<div class="English_log">common&nbsp;problem</div>
		<div class="main7_center" >
			<div class="main7_center_center">
				<div class="date7_left">
					<div class="date7_left_content" >
						<div><img src="images/icon_wenti.png" alt=""></div>
						<div>Common Problem</div>
					</div>
				</div>
				<div class="date7_right">
					<ul>
						<li>常见问题-</li>
						<li class="list">什么是Innovation Hackathon?</li>
						<li>1. Innovation Hackathon是由杭电在校学生主办的面向省内高校<br>开发者的一次比赛，它将富有创意与激情的人聚集起来在24小时内<br>
						做出有趣的产品；</li>
						<li class="list">在这次比赛中我能做什么？ </li>
						<li>1. 你可以按照自己的想法创造出你想做的东西，Innovation<br>	 Hackathon对技术、工具完全没有限制；</li>
						<li class="list">我该如何组队？</li>
						<li>1. 我们建议大家以一支队伍来参加，但如果你希望一个人进行开发<br>
						我们也非常欢迎。如果你还没有队伍的话，我们在现场会提供组队<br>时间，你可以找到和你志同道合的小伙伴一起比赛；</li>
						<li class="list">我将会花费多少费用？</li>
						<li>1. 参与本次比赛是完全免费的，我们将真心为你把费用降到最低。<br>比赛期间我们会提供无限饮食，并且将报销你的百分之五十交通费<br>
						用，你无须为费用担心太多；</li>
						<li class="list">我需要带些什么？</li>
						<li>1. 电脑、调试设备等任何项目所需设备。如果需要，你可以携带睡<br>
						袋或枕头。请不要携带危险物品；</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="recomment_log">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center_2">
				<div class="jieshao">关于</div>
				<div class="about_us">about&nbsp;us</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
<%- include footer %>