<div class="head">
		<div class="head_center" >
			<div><img src="images/logo.png" alt=""></div>
			<div>
				<div class="show1 dropdown horizen">
				  <a class="btn dropdown-toggle logoColor">
				    Hack day
				  </a>
				  <ul class="target1 dropdown-me hack">
				    <li><a href="/#content">大赛介绍</a></li>
				    <li><a href="/prepare#content">赛前准备</a></li>
				    <li><a href="/reward#content">奖项设置</a></li>
				  </ul>
				</div>
				<div class="show2 dropdown horizen">
				  <a class="btn dropdown-toggle logoColor" type="button">
				    Activity rules
				  </a>
				  <ul class="target2 dropdown-me">
				    <li><a href="/date#content">活动日程</a></li>
				    <li><a href="/rules#content">活动规则</a></li>
				    <li><a href="/fqa#content">常见问题</a></li>
				  </ul>
				</div>
				<div class="show dropdown horizen">
				  <a class="btn dropdown-toggle logoColor" href="#aboutit" type="button">
				    About us
				  </a>
				</div>
				<div class="show3 dropdown horizen">
				  <a class="btn dropdown-toggle logoColor" type="button">
				    Join activity
				  </a>
				  <ul class="target3 dropdown-me">
				    <li><a href="/jointeam#form">团队报名</a></li>
				    <li><a href="/joinself#form">个人报名</a></li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 中间图部分开始 -->
	<div class="center_container">
		<div class="center_container_center">
			<div class="photo_content_l">
				<div><div class="l_top1">HACK 浙江- </div></div>
				<div class="l_top2">杭电2017 HACKATHON</div>
				<div class="l_top3">
					<div class="content">
						<p>Boldly show your creativity and ideas , </p>
						<p>and small partners together within 24</p>
						<p>hours, the idea in mind to maximize</p>
						<p>brewing</p>
					</div>
				</div>
			</div>
		<div class="photo_content_r"><img src="images/banner.png" style="width:100%"/></div>
		</div>
	</div>