<%- include htmlHeader %>


<%- include header %>
	
<!-- 大赛介绍 -->
<div class="recomment_log" id="content">	
	<div class="recomment_log_center">
		<div class="log_center_left">
			<div class="line"></div>
		</div>
		<div class="log_center_center">
			<div class="jieshao" id="introduce">大赛介绍</div>
		</div>
		<div class="log_center_right">
			<div class="line"></div>
		</div>
	</div>
</div>
<div class="main_center">
	<div class="English_log">recomment</div>
	<div class="main1">
		<div class="left1">
			<img src="images/icon_what.png"/>
			<span>what is hackthon</span>
		</div>
		<div class="right1">
			<p>hackthon别称：黑客马拉松，hack day<br/><br/>
				Hackthon简介：国内诸多社区都有举办过各色线上线下的hackthon，<br/>
				它是很多程序员聚在一起，以合作的形式去编写程序.<br/><br/>Hackthon精髓：很多人，在一段特定的时间内，相聚在一起以他们想要<br/>的方式，去做他们想做的事情，整个编程过程几乎没有任何限制和方向。
			</p>
		</div>
	</div>
		<div class="main2">
			<div class="left2">
				<p>举办这场活动的目的，并不是让你做出一件成熟的产品，而是鼓励大家合作和创新。<br/>总所周知，每个学校的开发圈子之间交流不会太多,而我们希望给高校开发者们提供<br/>一个互相认识并且促进彼此之间交流的平台，构建一个省内高校中Geeker的圈子，触<br/>碰同学们的灵感，放大同学们的创新和创造能力。<br/><br/>千里竞帆，携手同行<br/><br/>你要做的就是大胆地展示你的创意和想法，和小伙伴们一直在24小时的开发时间内，<br/>将你心中酝酿着的想法发挥到极致。
				</p>
			</div>
			<div class="right2">
				<img src="images/icon_about.png"/>
				<span>about hackthon</span>
			</div>
		</div>
	<div class="main3">
		<div class="hd1">
			<p class="up">
				<img src="images/icon_huodong1.png"/><br/><br/>
				<span>活动名称</span>
			</p>
			<p class="low">Hack浙江-杭电2015 Hackthon</p>
		</div>
		<div class="hd2">
			<p class="up">
				<img src="images/icon_huodong2.png"/><br/><br/>
				<span>活动主办方</span></p>
				<p class="low">杭州电子科技大学<br/>1.计算机学院创新实验班<br/>2.计算机学院HelloWorld社团<br/>3.计算机学院 极客部落</p>
		</div>
		<div class="hd3">
			<p class="up">
				<img src="images/icon_huodong3.png"/><br/><br/>
				<span>活动时间</span>
			</p><p class="low">2015年5月16日</p>
		</div>
		<div class="hd4">
			<p class="up"f>
			<img src="images/icon_huodong4.png"/><br/><br/>
			<span>活动地点</span></p>
			<p class="low">杭州电子科技大学科技馆</p>
		</div>
	</div>
</div>

<div class="recomment_log">	
				<div class="recomment_log_center">
					<div class="log_center_left">
						<div class="line"></div>
					</div>
					<div class="log_center_center_2">
						<div class="jieshao">关于</div>
						<div class="about_us">about&nbsp;us</div>
					</div>
					<div class="log_center_right">
						<div class="line"></div>
					</div>
				</div>
			</div>
<%- include footer %>