<%- include htmlHeader %>
	
 	<!-- 头部开始 -->
<%- include header %>

<div style="color:white;padding:5% 0%" id="form" >
    <h3 style="text-align:center">个人报名<span style="font-size:14px">(*标记为必填项)</span></h3>
    <br/>
    <form class="form-horizontal" role="form" name="join">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label"><span class="glyphicon glyphicon-asterisk" style="color:red"></span>姓名</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="name" id="name" placeholder="请输入团队名称">
            </div>
            <label for="school" class="col-sm-2 control-label"><span class="glyphicon glyphicon-asterisk" style="color:red"></span>学校</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="school" name="school" placeholder="请输入学校">
            </div>
            
        </div>
        <div class="form-group">
            <label for="college" class="col-sm-2 control-label">学院</label>
            <div class="col-sm-2">
            <input type="text" class="form-control" name="college" id="college" placeholder="请输入学院">
            </div>
            <label for="tel" class="col-sm-2 control-label">联系方式</label>
            <div class="col-sm-2">
            <input type="text" class="form-control" name="tel" id="tel" placeholder="请输入电话">
            </div>
        </div>
        <div class="form-group">
            <label for="grade" class="col-sm-2 control-label">年级</label>
            <div class="col-sm-2">
            <input type="text" class="form-control" name="grade" id="grade" placeholder="请输入年级">
            </div>
            <label for="sex" class="col-sm-2 control-label">性别</label>
            <div class="col-sm-2">
            <input type="text" class="form-control" name="sex" id="sex" placeholder="请输入性别">
            </div>
        </div>
        <div class="form-group">
            <label for="auth" class="col-sm-2 control-label">验证码</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="auth" name="answer" placeholder="验证码">
            </div>
            <button class="btn" id="getImage">获取验证码</button>
            <span style="display:none" id="authImage"></span>
            <span style="display:none" id="imageError">验证码错误</span>
            <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="submit">报名</button>
            <span style="display:none" id="getit">报名成功!</span>
            </div>
        </div>
    </form>
</div>
<script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="javascripts/form2.js"></script>
<%- include footer %>