<%- include htmlHeader %>

<%- include header %>
	<!-- 大赛介绍 -->
	<div class="recomment_log" id="content">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center">
				<div class="jieshao" id="introduce">赛前准备</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
	
<div class="main_center">
	<div class="English_log">prepare&nbsp;before</div>
	<div class="main1">
		<div class="left1">
		<img src="images/icon_info1.png"/>
		<span>players tolls</span>
		</div>
		<div class="right1">
		<p><strong style="font-size: 20px">选手路费—</strong><br/><br/>针对杭州市外开发者，大赛组委会为其报销路费，需提供车票等必须凭证</p>
		</div>
	</div>
	<div class="main2">
		<div class="left2"><p><strong style="font-size: 20px">场地准备-</strong><br/><br/>场地为杭电本部科技馆，需提前准备桌椅</p>
		</div>
		<div class="right2"><img src="images/icon_info2.png"/><span>Site Preparation</span>
		</div>
	</div>
	<div class="main5">
		<div class="left5">
		<img src="images/icon_info3.png"/>
		<span>propaganda</span>
		</div>
		<div class="right5">
		<p><strong style="font-size: 20px">宣传</strong><br/><br/>  校内<br/>1.通过本部社团信息发布平台如：红色家园，杭电助手微信等订阅号等信息推送<br/>
		2.学活门口摆摊进行宣传<br/>
		3.向校技术社团发出邀请<br/><br/>省内其他高校<br/>1.通过微信大联盟发布信息<br/>活动官网宣传<br/>以邀请函形式向其他学校发布邀请</p>
		</div>
	</div>
	<div class="main6">
		<div class="left6"><p><strong style="font-size: 20px">现场餐饮</strong><br/><br/>校内<br/>1.在饭点前一个小时左右工作人员开始准备食物，并确保在时间内到达<br/>2.为保证在人数基数较大的情况下能及时获得食物，可以考虑事先与专门饭店协商好<br/><br/>其他零食<br/>1.可由独家供应商提供</p>
		</div>
		<div class="right6"><img src="images/icon_info4.png"/><span>Site Catering</span>
		</div>
	</div>
	<div class="main7">
		<div class="left7">
		<img src="images/icon_info5.png"/>
		<span>Onsite Hardware</span>
		</div>
		<div class="right7">
		<p><strong style="font-size: 20px">现场硬件-</strong><br/><br/>1. 确保现场投影，网络使用正常<br/>2. 应考虑到可能存在的温差变化事先准备空调</p>
		</div>
	</div>
	<div class="main8">
		<div class="left8"><p><strong style="font-size: 20px">现场技术支持-</strong><br/><br/>由实验班活动平台项目提供现场技术支持，包括自动签到，现场互动等</p>
		</div>
		<div class="right8"><img src="images/icon_info6.png"/><span>Technical Support</span>
		</div>
	</div>
	<div class="main9">
		<div class="left9">
		<img src="images/icon_info7.png"/>
		<span>Timing</span>
		</div>
		<div class="right9">
		<p><strong style="font-size: 20px">时间安排-</strong><br/><br/><span class="red">4月15日-4月19日</span><br/>1.准备；大赛合作方就就比赛方案达成最终一致<br/><br/><span class="red">4月20日-4月30日</span><br/>大赛所需如海报，宣传视频，官网，餐饮合作方，场地等需准备完<br/><br/><span class="red">4月27日-5月13日</span><br/>1.开放报名，活动宣传等<br/><br/><span class="red">5月16日-5月17日</span><br/>活动现场</p>
		</div>
	</div>
</div>

	<div class="recomment_log">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center_2">
				<div class="jieshao">关于</div>
				<div class="about_us">about&nbsp;us</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
	<%- include footer %>