<%- include htmlHeader %>
	
 	<%- include header %>
	<!-- 大赛介绍 -->
	<div class="recomment_log" id="content">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center">
				<div class="jieshao" id="introduce">奖项设置</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
<div class="main_center">
	<div class="English_log">awards&nbsp;setting</div>
 	<div class="main1">
 		<div class="left1">
 		<img src="images/icon_jiangxiang1.png"/>
 		<span>The First Prize</span>
 		</div>
 		<div class="right1">
 		<p>第一名<br/><br/>1.联创Hack Day的参赛权和交通费用<br/>2. 1Mackbook pro<br/>3. 3000 point credit for Qiniu</p>
 		</div>
 	</div>
 	<div class="main2">
 		<div class="left2"><p>第二名-<br/><br/>1. 1 Parrat AR Drone 2.0 Power Edition<br/>2. 1 Apple Watch Sport<br/>3.2000 point credit for Qiniu</p>
 		</div>
 		<div class="right2"><img src="images/icon_jiangxiang2.png"/><span>The Second Prize</span>
 		</div>
 	</div>
 	<div class="main5">
 		<div class="left5">
 		<img src="images/icon_jiangxiang3.png"/>
 		<span>The Third Prize</span>
 		</div>
 		<div class="right5">
 		<p>第三名<br/><br/>1. 1 Kindle Paperwhites<br/>2. 1000 points credit for Qiniu</p>
 		</div>
 	</div>
 	<div class="main6">
 		<div class="left6"><p>单项奖-<br/><br/>1. 云集单项奖；奖金4000<br/>2.爱逸族特别奖：奖金4000</p>
 		</div>
 		<div class="right6"><img src="images/icon_jiangxiang4.png"/><span>Single Award</span>
 		</div>
 	</div>
</div>

	<div class="recomment_log">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center_2">
				<div class="jieshao">关于</div>
				<div class="about_us">about&nbsp;us</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
	<%- include footer %>