<%- include htmlHeader %>
	
<%- include header %>
	<!-- 大赛介绍 -->
	<div class="recomment_log" id="content">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center">
				<div class="jieshao" id="introduce">活动规则</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
	
<div>
	<div class="English_log">active&nbsp;rules</div>
	<div class="main6_center">
		<div class="main6_center_center">
			<div class="date6_left">
				<div class="date6_left_content" >
					<div><img src="images/icon_info3.png" alt=""></div>
					<div>Activity Rules</div>
				</div>
			</div>
			<div class="date6_right">
				<ul>
					<li>活动规则-</li>
					<li>1. 比赛现场提供自由组队时间，尚未组队的参赛选手在正式开发前可寻求志同道合<br>
					的小伙伴； </li>
					<li>2. 比赛现场无限量提供零食，选手在开发间隙可自由走动休息，但不可影响其他<br>
					队伍开发；</li>
					<li>3. 选手在比赛现场请注意公开场合礼仪，万不可做出如大声外放音乐、抽烟、大声<br>
					交谈等影响比赛<br>秩序和其他队伍开发的行为；</li>
					<li>4. 现场提供比赛专用网络，选手可询问现场人员加入，严禁大流量下载等影响网<br>
					络环境的行为；</li>
					<li>5. 每只团队在提交时限内限提交一件作品，提交作品至少包括：文字介绍、产品<br>
					截图、人员信息；</li>
					<li>6. 参赛作品严禁提前偷跑、剽窃等违反公正原则的行为，一经发现，取消其参赛<br>
					资格；</li>
				</ul>
			</div>
		</div>
	</div>
</div>
	<div class="recomment_log">	
		<div class="recomment_log_center">
			<div class="log_center_left">
				<div class="line"></div>
			</div>
			<div class="log_center_center_2">
				<div class="jieshao">关于</div>
				<div class="about_us">about&nbsp;us</div>
			</div>
			<div class="log_center_right">
				<div class="line"></div>
			</div>
		</div>
	</div>
	<%- include footer %>